<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fulln.me.dao.search.SearchDao">

    <insert id="insertAll" parameterType="UserTorrents">
        INSERT INTO user_torrents (torrent_data, torrent_type, create_by, update_by, create_time, update_time) values
        <foreach collection="list" item="li" separator=",">
            (
            #{li.torrentData},
            #{li.torrentType},
            #{li.createBy},
            #{li.updateBy},
            #{li.createTime},
            #{li.updateTime}
            )
        </foreach>
    </insert>
</mapper>